body, html {
  margin: 0;
  font-family: monospace;
  background-color: #eee;
}

.content {
  background-color: #ddd;
  text-align: center;
  align-items: center;
  padding: 3rem;
  border: 4px;
  margin: 8vh auto;
  width: 50vw;
}

h1 {
  font-size: xx-large;
  padding-bottom: 2vh;
}

table, td, th {
  border: 1px solid #aaa;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 0.3rem;
}

td {
  padding: 0.5rem;
}

.form {
  margin-top: 2vh;
}

#content {
  width: 50vw;
}

.submitButton {
  width: 4vw;
  height: 2.4vh;
  border-radius: 5%;
  background-color: whitesmoke;
  margin: 1rem;
}