body, html {
    margin: 0;
    font-family: monospace;
}

.content {
    background-color: #eee;
    text-align: center;
    align-items: center;
    padding: 3rem;
    border: 1px solid;
    margin: 8vh auto;
    width: 60vw;
}

h1 {
    font-size: xx-large;
    padding-bottom: 2vh;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 0.3rem;
}

td {
    padding: 0.5rem;
}

.form {
    margin-top: 2vh;
}

#content {
    width: 50vw;
}

.submitButton {
    width: 4vw;
    height: 3.6vh;
    border-radius: 5%;
    background-color: whitesmoke;
    margin-left: 0.2vw;
}