body, html {
  font-family: sans-serif;
  background-image: url(04.png);
}

.content {
  background-color: #281D26;
  text-align: center;
  align-items: center;
  padding: 3rem;
  border: 4px;
  margin: 8vh auto;
  width: 30rem;
  border-radius: 16%;
}

h3 {
  color: #fff;
  font-size: large;
  padding-bottom: 2vh;
}

table, td, th {
  border: 1px solid #281D26;
}

table {
  color: #fff;
  background-color: #281D26;
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 0.5rem;
}

td {
  padding: 0.5rem;
}

.form {
  margin-top: 2vh;
}

#content {
  width: 30rem;
}

.submitButton {
  width: 2vw;
  height: 2vh;
  border-radius: 4%;
  margin: 1rem;
}

.submitButton {
  width: 2vw;
  height: 2vh;
  margin: 1rem;
  background-color: lightgrey;
  border-radius: 20%;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color: white;
}